body
{
      text-align: center;
}

div
{
      margin:auto;
      background-color:green;
      border-color:red;
      border-style:solid;
      width:300px;
      height:40px;
      color:white;
      text-align:center;
      padding-top:25px;
}


.dividir
{
      background-color:gray;
      width:50px;
      height:50px;
      
}

.tabelainvisivel
{
      border:0 solid;

}

h2, h1
{
      color:#000090;
}

table
{
      

      border-style: solid;
      background-color: yellow;
      color: blue;
      width: 50%;
      border-collapse: collapse;
      margin: auto;
      margin-top: 0px;
      margin-bottom: 0px;
}

th, td
{
      height: 20px;
      border-bottom: 2px solid green;
      border-left:0px;
    
}

hr
{
      border-color:#800000;
}

p
{
      color:black;
}
